*{
  margin-left:0px;
  margin-right:0px;
  text-align:center;
}

h1{
  border-bottom:2px solid gray;
  margin:0px;
  padding:10px;
  padding-bottom:15px;
}

div{
  margin:10px;
}

button{
  width:7vw;
  height:3.5vw;
  border:0.21vw solid gray;
  font-size:2.1vw;
  background-color:white;
  margin:0.35vw;
}

#members{
  margin-bottom:15px;
}

#n8{
  font-size:18px;
}

#n88{
  width:60px;
  height:30px;
  font-size:18px;
  border-color:#ff8000;
}

#ans{
  font-size:25px;
  border-top:2px solid gray;
  padding-top:15px;
}
